@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,600&display=swap');
@import url('//cloud.typography.com/6247692/752844/css/fonts.css');
// @import url('/src/styles/fontawesome.min.css');


@font-face {
  font-family: 'FontAwesome';
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url('/src/styles/fonts/fa-regular-400.eot');
  src: url('/src/styles/fonts/fa-regular-400.eot?#iefix') format('embedded-opentype'),
  url('/src/styles/fonts/fa-regular-400.woff2') format('woff2'),
  url('/src/styles/fonts/fa-regular-400.woff') format('woff'),
  url('/src/styles/fonts/fa-regular-400.ttf') format('truetype'),
  url('/src/styles/fonts/fa-regular-400.svg#fontawesome') format('svg');
}

@font-face {
  font-family: 'FontAwesomeSolid';
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url('/src/styles/fonts/fa-solid-900.eot');
  src: url('/src/styles/fonts/fa-solid-900.eot?#iefix') format('embedded-opentype'),
  url('/src/styles/fonts/fa-solid-900.woff2') format('woff2'),
  url('/src/styles/fonts/fa-solid-900.woff') format('woff'),
  url('/src/styles/fonts/fa-solid-900.ttf') format('truetype'),
  url('/src/styles/fonts/fa-solid-900.svg#fontawesome') format('svg');
}


/* Variables */ 
$font1: "Gotham SSm A", "Gotham SSm B", Verdana, sans-serif;
$font2: "Gotham Narrow SSm A", "Gotham Narrow SSm B", Verdana, sans-serif;
$font3: "Gotham A", "Gotham B", Verdana, sans-serif;

$white: #FFFFFF;
$lightgrey: rgba(241,241,241,1);
$grey: rgba(175,178,178,1);
$lightblue: rgba(59,154,196,1);
$black: rgba(74,74,74,1);

$blue: #032447;
$orange: #ffa500;
$green: #00b360;
$grey: #F0F3F4;

@mixin transition($var) {
	transition: $var;
	-webkit-transition: $var;
	-o-transition: $var;
	-moz-transition: $var;
}

.btn-orange {
  color: black !important;
  background-color: $orange;
  border-color: $orange;
}

.btn-blue {
  color: white !important;
  background-color: $blue;
  border-color: $blue;
}

.btn-green {
  color: black !important;
  background-color: $green;
  border-color: $green;
}

.btn-grey {
  color: black !important;
  background-color: $grey;
  border-color: $grey;
}

.btn{
  margin: auto;
  box-shadow: none !important;
  &:active{
    box-shadow: 0 0 0 0.25rem rgba(13,110,253, 0.25) !important;
  }
}

.str{
  position: fixed;
  top: 5px;
  right: 5px;
  color: black;
  opacity: 0.5; 
}
.hiddenitems{
  td:nth-child(1), td:nth-child(2), td:nth-child(3), td:nth-child(4), td:nth-child(5){
    color: transparent; 
  }
}

.preloader, .modal{
	position: fixed;
	z-index: 99999999;
  left: 0;
  top: 0;
  background: rgba(255,255,255,0.7);
  width: 100%;
  height: 100%;
  .loader {
		position: absolute;
		top: 50%;
		left: 50%;
		margin-top: -15px;
		margin-left: -15px;
	  	border: 5px solid $lightblue;
	  	border-radius: 50%;
	  	border-top: 5px solid $blue;
		width: 30px;
		height: 30px;
		-webkit-animation: spin 2s linear infinite; /* Safari */
		animation: spin 2s linear infinite;
	}
}

.modal{
  background: rgba(0, 0, 0, 0.5);
  background: rgba(225, 225, 225,.9);
  display: block !important;
  .modalSizer{
    position: absolute;
    top: 50px;
    bottom: 50px;
    height: calc(100% - 100px);
    width: 100%;
    overflow: scroll;
    overscroll-behavior: contain;
  }
  .modalContainer{
    z-index: 1;
    width: 90%;
    height: 100%;
    position: absolute;
    left: 50%;
    margin-left: calc((90% / 2) * -1);
    top: 0;
    display: table;
    .closeModal{
      position: absolute;
      top: 0;
      right: 0;
      cursor: pointer;
      width: 40px;
      height: 40px;
      text-align: center;
      line-height: 40px;
      background: $orange;
      border-radius: 0 0 0 2px;
    }
    .modalInner{
      display: table-cell;
      vertical-align: middle;
      .modalContent{
        padding: 45px 20px 20px 20px;
        background: $white;
        position: relative;
        max-width: 500px;
        box-shadow: 0 8px 46px rgba(0, 0, 0, 0.08), 0 2px 6px rgba(0, 0, 0, 0.03);
        img{
          width: 100%;
          height: auto;
        }
      }
    }
  }
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

*{
  box-sizing: border-box;
}

html{
  background: #f8f9fa;
}
body{
  margin: 0;
  padding: 0;
  height: auto;
  overflow: hidden;
  width: 100%;
  float: left;
  background: #f8f9fa;
}

#app{
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
  // overflow: hidden;
  float: left;
  opacity: 0;
  position: relative;
  @include transition(opacity 200ms); 
}

.menuButton{
  background: $orange;
  width: 40px;
  height: 40px;
  float: left;
  padding: 8px 0;
  z-index: 1;
  position: relative;
  border-radius: 1px;
  display:none;
  span{
    display: block;
    width: 30px;
    height: 2px;
    background: black;
    margin: 3px 5px;
    float: left;
  }
}
header{
  height: 0px;
  .overlay{
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: none;
    &.active{
      display: block;
    }
  }
  .user{
    padding: 0 15px;
    float: right;
  }
}
nav{
  z-index: 1;
  width: 200px;
  height: 100%;
  position: fixed;
  left: -200px;
  top: 0;
  background: $blue;
  padding: 0;
  border-radius: 1px;
  @include transition(left 200ms); 
  &.active{
    left: 0;
  }
  .top{
    height: 40px;
    background: $orange;
    width: 100%;
    float: left;
  }
  ul{
    float: left;
    width: 100%;
    list-style: none;
    padding: 10px 0;
    margin: 0;
    li{
      padding: 10px 20px;
      color: white;
      width: 100%;
      float: left;
    }
  }
}

.main-content{
  padding: 20px 20px 0 20px;
  width: 100%;
  float: left;
  // max-height: calc(100vh - 100px);
  height: auto;
  height: calc(100vh - 100px);
  height: calc(var(--vh, 1vh) * 100 - 100px);
  overflow: scroll;
  
}

.users{
  .user{
    &.active{
      background: $green;
      border-color: $green;
    }
  }
}

.badge{
  padding: 0;
  width: 22px;
  height: 22px;
  line-height: 22px;
  float: right;
}

.scannedProducts{
  &.extended{
    .productInfo{
      height: auto;
    }  
  }
  .productInfo{
    height: 0;
    overflow: hidden;
  }
}

.gridChange{
  width: 50px;
  height: 25px;
  background: $orange;
  border-radius: 1px;
  float: right;
  span{
    width: 15px;
    display: block;
    float: left;
    height: 2px;
    background: black;
    margin: 2px 4px;

  }
  .first{
    padding: 3px 0;
    width: 24px;
    height: 25px;
    border-right: 1px solid;
    float: left;
  }
  .second{
    width: 25px;
    height: 25px;
    border-left: 1px solid;
    float: left;
    padding: 5px 0;
    span{
      height: 6px;
      margin: 1px 4px;
    }
  }
}
.actionButtons{
  background: $grey;
  height: 60px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}
.actionButtons{
  text-align: center;
  padding: 10px 0;
}