<template>
  
  <div id="app" :class="[{overlay: $store.state.modalshow}, $route.name]" v-bind:style="{ opacity: opacity}">
    <div class="modal" v-if="$store.state.modalshow">
      <div class="modalSizer">
        <div class="modalContainer">
          <div class="modalInner">
            <div class="modalContent">
              <div class="closeModal" v-on:click="hideModal()">x</div>
              <p>{{$store.state.modalmessage}}</p>
              <div v-html="$store.state.modalhtml"></div>
              <button class="btn btn-blue" @click="hideModal()">Ok</button>
            </div>
          </div>
        </div>
      </div>
    </div>
      <Header></Header>
      <main class="main-content" >
        <router-view ></router-view>
      </main>
      <div class="preloader" v-if="$store.state.preloader">
        <div class="loader"></div>
      </div>
  </div>

</template>

<script>

import Header from './components/Header.vue';
import axios from 'axios'
import { extend } from 'vee-validate';
import { required } from 'vee-validate/dist/rules';
import { EventBus } from "./main.js";
import { mapMutations, mapGetters } from "vuex";
import * as mylib from './translations.js';
import Vue from "vue";
import { store } from './store/store'

export default {
  name: 'app',
  components: {
      Header
    },
    data() {
      return {
        opacity: 0,
        lang: 'en',
        token: '',
        routename: this.$route.name,
        user: this.$store.state.user,
        translations: mylib.translateStrings(),
      }
    },
    beforeMount() {
      let self = this;
      self.$store.dispatch('setPreloader', 0);
      self.$store.dispatch('setUrl', 'http://wms7.gs1.dk/public/'); // local test server
      // this.$store.dispatch('setUrl', 'http://185.21.41.236/wms/s4/public/'); // live test server
      // this.$store.dispatch('setUrl', 'https://shop.gs1.dk/api/public/'); // live server
     
    },
    created() {
        setTimeout(() => this.opacity = 1, 3000);
    },
    mounted() {
      document.onreadystatechange = () => {
        if (document.readyState == "complete") {
          this.opacity = 1;
        }
      }
    },
    computed: {
    },
    methods: {
      hideModal(){
        this.$store.dispatch('setModal', {show: 0, message: '', html: '', prismic: ''});
        this.$router.replace({query: {}});
      },
    }
}
 
</script>
<style lang="scss">
  @import './src/styles/_style.scss';
</style>