<template>
	<div class="scanProductsPage">

		<form>
			<div class="container">
				<div class="row align-items-start">
					<div class="mb-3 col">
					    <label for="fromdate" class="form-label">From</label>
					    <input type="date" class="form-control" v-model="fromdate" id="fromdate">
					</div>
					<div class="mb-3 col">
					    <label for="todate" class="form-label">To</label>
					    <input type="date" class="form-control" v-model="todate" id="todate">
					</div>
					<div class="mb-3 form-check col">
					  	<div class="form-check">
						  	<input class="form-check-input" type="radio" name="active" @click="active = 'all'" value="all" id="active1" checked>
						  	<label class="form-check-label" for="active1">
						    	All
						  	</label>
						</div>
						<div class="form-check">
						  	<input class="form-check-input" type="radio" name="active" @click="active = true" value="true" id="active2" >
						  	<label class="form-check-label" for="active2">
						    	Active
						  	</label>
						</div>
						<div class="form-check">
						  	<input class="form-check-input" type="radio" name="active" @click="active = false" value="false" id="active3" >
						  	<label class="form-check-label" for="active3">
						    	Not active
						  	</label>
						</div>
					</div>
				</div>
				<div class="row align-items-start">
					<div class="mb-3 col">
						<label class="form-check-label" for="size1">
						   	Size
						</label>
					</div>
				</div>
				<div class="row align-items-start">
					<div class="mb-3 col">
					    <div class="form-check">
						  	<input class="form-check-input" type="radio" name="size" value="10" @click="size = 10" id="size1">
						  	<label class="form-check-label" for="size1">
						    	10
						  	</label>
						</div>
					</div>
					<div class="mb-3 col">
						<div class="form-check">
						  	<input class="form-check-input" type="radio" name="size" value="1000" @click="size = 1000" id="size2" checked>
						  	<label class="form-check-label" for="size2">
						    	1000
						  	</label>
						</div>
					</div>
					<div class="mb-3 col">
						<div class="form-check">
						  	<input class="form-check-input" type="radio" name="size" value="5000" @click="size = 5000" id="size3" >
						  	<label class="form-check-label" for="size3">
						    	5000
						  	</label>
						</div>
					</div>
					<!-- <div class="btn btn-blue">Get data</div> -->
				</div>
			</div>
		</form>
		<div class="container">

			<table class="scannedProducts table table-striped" >
			  <thead>
			    <tr>
			      <th scope="col">#</th>
			      <th scope="col">GTIN</th>
			      <th scope="col">Active</th>
			      <th scope="col">Receive date</th>
			      <th scope="col" style="text-align: left">Last change</th>
			      <th scope="col" style="text-align: left">Position</th>
			      <th scope="col" style="text-align: left">Name</th>
			      <th scope="col" style="text-align: left">Operation</th>
			      <th scope="col" style="text-align: left">Date</th>
			      <th scope="col" style="text-align: left">Action</th>
			    </tr>
			  </thead>
			  	<tbody>
			  		<template  v-for="(product, index) in items">
			  			<tr :class="{hiddenitems: opindex!==0}" v-if="openitems.includes(index) == true || opindex == 0" :key="index+'_'+opindex" v-for="(operation, opindex) in reversedItems(product.operations)">
				  			<td>{{index + 1}}</td>
				  			<td>{{product.gtin}}</td>
				  			<td>{{product.active}}</td>
				  			<td>{{product.receivedate}}</td>
				  			<td>{{product.lastchange}}</td>
				  			<td>{{operation.position}}</td>
				  			<td>{{operation.name}}</td>
				  			<td>{{operation.operation}}</td>
				  			<td>{{operation.date}}</td>
				  			<td @click="showItems(index)">Toogle</td>
				  		</tr>	
			  		</template>
			  	</tbody>
			</table>
		</div>

		<div class="actionButtons">
			<button class="btn btn-blue" @click="reloadPage()" type="button">Reload</button>
			<div class="btn btn-blue" @click="getItemData()">Get data</div>
			<!-- <div class="btn btn-blue" @click="resetProducts" type="button">Reset products</div> -->
		</div>
	</div>
</template>

<script>

	import { EventBus } from "../../main.js";
	import * as mylib from '../../translations.js'
	import axios from 'axios'
	import { mapMutations, mapGetters } from "vuex";
	import { mapFields } from 'vuex-map-fields';
	import { mapMultiRowFields } from 'vuex-map-fields';

	export default {

		data() {
			return {
				token: this.$store.state.token,
				lang: 'en',
				translations: mylib.translateStrings(this.$store.state.lang.name),
				// products: JSON.parse(JSON.stringify(this.$store.state.cart.items)),
				products: this.$store.state.cart.items,
				items: [],
				error: false, // false
				errormessage: '',
				posterror: false,
				fromdate: '2021-04-05',
				todate: '2021-12-21',
				active: 'all',
				size: 1000,
				openitems: []
			}
		},
		beforeMount() {
			let self = this;
			self.$store.dispatch('setPreloader', 0);
		},
		mounted() {
		},
		watch: {
		},
		computed: {
		},
		methods: {
			...mapMutations(["addProduct"]),
			...mapMutations(["updateProduct"]),
			...mapMutations(["removeProduct"]),
			...mapMutations(["resetProducts"]),
			getRoute() {
				this.currentRoute = window.location.pathname;
			},
			reversedItems(items){
				let self = this;
				let reversed = items.slice().reverse();
      			return reversed;
  			},
			showItems(index){
				let self = this;
				if(self.openitems.includes(index) == true){
					self.openitems.forEach(function(e, i){
			    		if(e == index){
			    			self.openitems.splice(i, 1);	
			    			return;
			    		}
					});
				}
				else{
					self.openitems.push(index);
				}
				return true;
			},
			getItemData(){
				let self = this;
				self.$store.dispatch('setPreloader', 1);

				let data = {
					active: self.active,
    				size: self.size,
    				page: 1,
    				fromdate: self.fromdate+" 00:00:00",
    				todate: self.todate+" 23:59:59"
				};

				axios.post(
		        	self.$store.state.apiurl+'statistics/gtin', 
		        	data
		        )
		        .catch(error => {
		        	console.log(error.response);
		        	self.posterror = true;
	        		self.$store.dispatch('setModal', {show: 1, message: 'Error in posting', html: ''});
	        		self.$store.dispatch('setPreloader', 0);
		        	return;
    			})
		        .then((response) => {
		        	console.log(response);
		        	self.items = [];
		        	if(self.posterror == true){
		        		self.$store.dispatch('setPreloader', 0);
		        		return;
		        	}

	            	if(response.data.error === false){
		              	// success
		              	self.$store.dispatch('setPreloader', 0);

		              	self.items = response.data.data.items;

		            }
		        });
			},
			showErrorModal(){
				let self = this;
				self.$store.dispatch('setModal', {show: 1, message: '', html: self.errormessage});
			}
		}
	}
</script>
